html, body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-left: 0;
}

div#tabs .tab {
}

div#tabs {
  margin-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0px;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	border-bottom-width: 0;
	padding: 10px;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li:focus {
  outline: none;
}
.ui-tabs-nav a {
    color: black;
    text-decoration: none;
}
.ui-tabs-nav a:focus {
	outline: none;
}
li.ui-tabs-active {
    background-color: #eee;
		font-weight: bold;
}

table.table {
    border-spacing: 0;
    /*border: 1px solid #dddddd;*/
    /*border-radius: 4px;*/
    width: 100%;
}

.table thead {
    background-color: #eee !important;
}

.table td {
    padding: 5px;
}

.table tr.item:nth-child(odd) {
    background-color: #f9f9f9;
}

.table #noItems {
  text-align: center;
}

.table td.description {
    width: 100%;
}

.table td.delete {
  cursor: pointer;
  font-weight: bold;
}

span.amount {
    background-color: cornflowerblue;
    color: #fff;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    margin-right: 0.2em;
}

#addItemButton {
    position: fixed;
    background-color: Mediumseagreen;
    color: white;
    font-size: 25px;
    padding: 5px;
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: -4px;
    right: 30px;
    text-decoration: none;
    border: none;
}

#addItemButton:focus {
  outline: none;
  cursor: pointer;
}

#addItemButton:hover {
    bottom: 0px;
}

#addItemDialog {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.07);
    border: dashed mediumaquamarine;
    border-bottom: 0px;
    bottom: 0px;
    left: 25%;
    right: 25%;
}

input#inputDes {
    font-size: 15px;
    width: 90%;
}

#mainInputs {
  padding: 10px;
}

#additionalInputs {
  border-top: dashed grey;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.26);
}

.secondLine {
  margin-top: 5px;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-autocomplete.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}
.ui-autocomplete.ui-menu .ui-menu {
	position: absolute;
}
.ui-autocomplete.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-autocomplete.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-autocomplete.ui-widget-content {
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #333333;
}
.ui-autocomplete.ui-menu .ui-state-focus {
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}
/* http://demo.marcofolio.net/facebook_loader/ */
#loader { width:36px; height:32px; margin: 0px auto; }

/* Initial state */
.loadingbar {
    background-color:rgba(153, 153, 153, 0.64); border:1px solid transparent; float:left;
    margin-right:4px; margin-top:6px; width:6px; height:18px;

    /* Set the animation properties */
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: loadingbar;
}

/* Delay both the second and third bar at the start */
#loader .loadingbar:nth-child(2) { -webkit-animation-delay: 0.1s; }
#loader .loadingbar:nth-child(3) { -webkit-animation-delay: 0.2s; }

/* The actual animation */
@-webkit-keyframes loadingbar {
     0% { }
    10% { margin-top:5px; height:22px; }
    20% { margin-top:0px; height:32px; }
    30% { margin-top:1px; height:30px; }
    40% { margin-top:3px; height:26px; }
    50% { margin-top:5px; height:22px; }
    60% { margin-top:6px; height:18px; }
    70% { }
    /* Missing frames will cause the extra delay */
    100% { }
}
