<tr class="product">
  <td class="description">
    <span>{{description}}</span>
  </td>
  <td class="price">
    {{price}}
  </td>
  <td class="shop">
    {{shop}}
  </td>
  <td class="delete">X</td>
</tr>
