<td class="dateSeparator" colspan="42">
  <div class="flex">
    <span class="weekday">
      {{weekday}}
    </span>
    <span class="date">
      {{date}}
    </span>
    <span class="totalPrice">
  </div>
  </span>
