<table class="expenses table">
  <thead>
    <tr>
      <th class="description">Description</th>
      <th class="price">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  <td id="noItems" colspan="42">
    No items have been added yet.
  </td>
  </tfoot>
</table>
