<div id="addItemDialog">
  <div id="mainInputs">
    <div class="firstLine">
      <input type="text" id="inputDes" placeholder="Description">
      <span id="inputAmountContainer">
        <span class="amount" id="inputAmount" contenteditable="true">1</span>
      </span>
    </div>
    <div class="secondLine">
      <input type="text" id="inputPrice" placeholder="Price">
      <input type="text" id="inputDate" placeholder="Date">
    </div>
  </div>
  <div id="additionalInputs">
    <div class="firstLine">
      <input type="text" id="inputWeight" placeholder="Weight">
      <input type="text" id="inputShop" placeholder="Shop">
    </div>
    <div class="secondLine">
      <input type="text" id="inputTags" placeholder="Tags">
    </div>
  </div>
</div>
