<li>
  <span class="description">{{description}}</span>
  {{#if price}}
    &nbsp;-&nbsp;
    <span class="price">{{price}}</span>
  {{/if}}
  {{#if location}}
    &nbsp;-&nbsp;
    <span class="location">@{{location}}</span>
  {{/if}}
</li>
