<li>
  <span class="description">{{description}}</span>
  {{#if price}}
    &nbsp;-&nbsp;
    <span class="price">{{price}}</span>
  {{/if}}
  {{#if shop}}
    &nbsp;-&nbsp;
    <span class="shop">@{{shop}}</span>
  {{/if}}
</li>
