<div id="addItemDialog" class="addDialog" style="display:none;">
  <!-- Hidden inputs -->
  <input type="hidden" class="id">
  
  <div class="mainInputs">
    <div class="firstLine">
      <input type="text" class="inputDes" placeholder="Description">
      <span class="inputAmountContainer">
        <span class="amount inputAmount" contenteditable="true">1</span>
      </span>
    </div>
    <div class="secondLine">
      <input type="text" class="inputPrice" placeholder="Price">
      <input type="text" class="inputDate" placeholder="Date">
    </div>
  </div>
  <div class="additionalInputs">
    <div class="firstLine">
      <input type="text" class="inputWeight" placeholder="Weight">
      <input type="text" class="inputShop" placeholder="Shop">
    </div>
    <div class="secondLine">
      <input type="text" class="inputTags" placeholder="Tags">
    </div>
  </div>
</div>
