<table class="expenses">
  <thead>
    <tr>
      <th class="description">Description</th>
      <th class="price">Price</th>
      <th class="date">Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  <td id="noItems" colspan="42">
    No items have been added yet.
  </td>
  </tfoot>
</table>
