<table class="products table">
  <thead>
    <tr>
      <th class="description">Description</th>
      <th class="price">Price</th>
      <th class="location">Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  <td id="noProducts" colspan="42">
    No products have been added yet.
  </td>
  </tfoot>
</table>
