<div class="inputs">
  <label>From: <input type="text" class="datePicker" name="dateFrom"></label>
  <label>To: <input type="text" class="datePicker" name="dateTo"></label>
  <label>Tag: <input type="text" name="tag"></label>
  <button class="go">Go</button>
</div>
<div class="sumContainer">Sum: <span class="sum"></span></div>
