<div id="addThingDialog" class="addDialog" style="display:none;">
  <!-- Hidden inputs -->
  <input type="hidden" class="id">
  
  <div class="mainInputs">
    <div class="firstLine">
      <input type="text" class="inputDes" placeholder="Description">
    </div>
    <div class="secondLine">
      <input type="text" class="inputTags" placeholder="Tags">
    </div>
  </div>
</div>
