<table class="things table">
  <thead>
    <tr>
      <th class="description">Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  <td id="noThings" colspan="42">
    No things have been added yet.
  </td>
  </tfoot>
</table>
